@import "compass_twitter_bootstrap";

$blue: #3bbfce;
$margin: 16px;

.navbar-wrapper {
	margin-top: 20px;
}


div.hero-unit {

	background-color: #fff;
}

div.banner {
	backgound-color: #ccc;


}

.hidden {
  display: none;
}